<div class="container">
  <div class="row">
    <table ng-if="!error" class="table">
      <thead>
        <tr>
          <th>Name<th>
          <th>Description<th>
          <th>Take it away!<th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in found">
          <th>{{item.name}}<th>
          <th>{{item.description}}<th>
          <th><button class="btn btn-default" ng-click="onRemove({index: $index})">Don't want this one!</button><th>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="error">
    <h3 class="text-center">Nothing found.</h3>
    <h3 class="text-center" ng-if="badQuery">No matches for your query '{{badQuery}}'.. :(</h3>
  </div>
</div>
