<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1 class="text-center">Narrow Down Your Chinese Menu Choice</h1>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
          <input type="text" placeholder="Search term"
           class="form-control" ng-model="ctrl.searchTerm" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"
             ng-click="ctrl.getMatchedMenuItems()">
              Narrow It Down For Me!
            </button>
          </span>
        </div>
      </div>
    </div>

    <!-- <ul>
      <li ng-repeat="item in ctrl.found">
        {{item.name}}
      </li>
    </ul> -->

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <!-- <items-loader-indicator></items-loader-indicator> -->

    <!-- found-items should be implemented as a component -->
    <found-items
     found="ctrl.found"
     on-remove="ctrl.onRemove(index)"
     bad-query="ctrl.badQuery">
    </found-items>
  </div>

  <script src="scripts/angular.min.js" charset="utf-8"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
</body>
</html>
