<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/my-style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
  </head>
  <body>
    <div class="container text-center" ng-controller="LunchCheckController">
      <h1>Lunch Checker</h1>

      <div class="form-group">
        <!-- empty strings and spaces DO NOT count towards the total amount
        note that this also means the message "Please enter data first" shows
        up if the user only types commas -->
        <input id="lunch-menu" type="text"
        placeholder="List some food items..."
        class="form-control" ng-model="food">
      </div>

      <div class="form-group">
        <button class="btn btn-default" ng-click="checkLunch()">
          Check If Too Much
        </button>
      </div>

      <div class="form-group message" ng-show="checked">
        <span class="label" ng-class="{'label-warning': n_items <= 0,
                                       'label-danger': n_items > 3,
                                       'label-success': n_items <= 3}">
          {{message}}
        </span>
      </div>

    </div>
  </body>
</html>
